<a href="https://colab.research.google.com/github/xren935/learn-python/blob/master/Copy_of_MAIS202_F2020_CodingExercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MAIS 202 Fall 2020 Coding Exercise

[Application](http://tiny.cc/mais202-w2020-app)

[Course Syllabus](http://tiny.cc/mais202-w2020-syllabus)

## Instructions
 Make a copy of this notebook into your personal Google Drive account.
Make sure to make this notebook public by 11:59 pm, September 9th, 2020 in order to be evaluated.
If you have any questions regarding this challenge, please reach out to us through our [Facebook Page](https://www.facebook.com/McGillAI/).

## Questions
* [Part 1](#scrollTo=QYskRrWJEwZH)
* [Part 2 Task 1](#scrollTo=yl9IKD31K-J0)
* [Part 2 Task 2](#scrollTo=t_xY3228qPmP)

## Part 1

This part asks you to analyze a dataset using libraries.
To learn more about movies grosses, we have provided you with two csv's: `movies_data.csv` and `genre_data.csv`.
The urls to the files are
```
https://raw.githubusercontent.com/williamykzhang/MAIS_CE/master/genre_data.csv
```
and
```
https://raw.githubusercontent.com/williamykzhang/MAIS_CE/master/movies_data.csv
```
The file `movies_data.csv` contains information about movies such as their title, imdb rating, length, rank, rating, studio, worldwide gross, and year in a comma seperated format as shown below.
![CSV example 1](https://user-images.githubusercontent.com/10730760/71313653-b9478880-2409-11ea-8745-a58909dcbd0f.png)

The file `genre_data.csv` contains the genre for each movie in the `movies_data.csv` file, as shown below.
![CSV example 2](https://user-images.githubusercontent.com/10730760/71313662-d3816680-2409-11ea-94c7-6795663ef8e3.png)

Your challenge is as follows:

1. In the provided cell, load the datasets from their urls, parse the information and determine the average worldwide gross for each of the genres using the **pandas** library. https://pandas.pydata.org/.
2. Plot the results onto a graph using the **matplotlib** library. https://matplotlib.org/.

**Note.** You are not allowed to use other libraries, and you are required to write all the code in the following cell. You are also not allowed to run bash commands. You must use the libraries we ask you to use.

In [ ]:
import pandas as pd
from io import StringIO
import requests 

# get movie data
movies_url = "https://raw.githubusercontent.com/williamykzhang/MAIS_CE/master/movies_data.csv"
read_movies_data = requests.get(movies_url).content
movies_data = pd.read_csv(StringIO(read_movies_data.decode('utf-8')))

# get genre data 
genre_url = "https://raw.githubusercontent.com/williamykzhang/MAIS_CE/master/genre_data.csv"
read_genre_data = requests.get(genre_url).content
genre_data = pd.read_csv(StringIO(read_genre_data.decode('utf-8')))

# merge the two tables
merged = movies_data.merge(genre_data, on='title')

# parse worldwide_gross
merged['worldwide_gross'] = merged['worldwide_gross'].replace({'\$': '', ',': ''}, regex=True)

# group by genre and find the mean of worldwide_gross of each group
merged.assign(worldwide_gross=pd.to_numeric(merged['worldwide_gross'])).groupby('Main_Genre')['worldwide_gross'].mean().reset_index()

   Main_Genre  worldwide_gross
0      Action     3.865555e+08
1   Adventure     5.450808e+08
2   Animation     5.269178e+08
3      Comedy     3.766985e+08
4       Crime     2.073900e+08
5       Drama     2.752192e+08
6      Family     2.315848e+08
7     Fantasy     6.691673e+08
8     History     2.522713e+08
9      Horror     1.761020e+08
10      Music     2.181311e+08
11    Romance     2.653120e+08
12     Sci-Fi     5.172855e+08
13      Sport     9.804416e+07
14   Thriller     3.563895e+08
15        War     1.699709e+08

The output of the cell should be similar to the results shown below.


![results1](https://raw.githubusercontent.com/williamykzhang/MAIS_CE/master/picture_2.png)
![results2](https://raw.githubusercontent.com/williamykzhang/MAIS_CE/master/picture_3.png)

## Part 2

For the second half of the coding challenge, you are not allowed to use libraries.
More specifically, you are not allowed to use imported code from the standard library nor from external libraries.

### First Task

Your first task is to write a helper function `to_grade_point` which converts a grade out of 100 into a `tuple` whose first entry is a string representing the letter grade and whose second entry is a float representing the Grade Points.


![Letter Grade Table](https://i.ibb.co/WnvbXL1/table.png)


**Note.** Inputs are assumed to be valid. That is, inputs will be integers from 0 to 100 inclusive.

In [ ]:
##############################################################
#                                                            #
#  Please write all of your code for this task in this cell  #
#                                                            #
##############################################################

You can test your code with the following snippet.
If your code is correct, you should see

![Example Code 1](https://i.ibb.co/4F9mP9Y/code1.png)

In [ ]:
for grade in [0, 99, 80, 85, 84, 60, 59, 74]:
  print("{} -> {}".format(grade, to_grade_point(grade)))

### Second Task

Your second task is to write a class named `GradeRecords` with a certain specification.
This part will use the helper function defined in the first part so make sure to do that first.

A `GradeRecords` object has the following attributes:
* `term`, a string representing the current semester;
* `grades`, a `list` object containing `tuples`, where the first entry of each tuple is a string representing the code of the class, the second entry of each tuple is the grade out of 100, and the third entry is the number of credits for this course. `grades` can be initialized (see below) as an empty list.
* `num_courses` an `int` which contains the number of courses in the record. This can be initialized as 0.


**Note.** You are not allowed to add more attributes.

Furthermore, a `GradeRecords` object has the following methods:
* an initialization method which takes as input the current term and initializes the three attributes;
* `add_course`, a method which takes a string representing the course code, an int for the grade out of 100 and the number of credits. The method adds a new tuple to `grades`.
* `get_best_courses`, a method which takes no parameters and outputs a list of course codes with the best grades. For instance, if the best grade is a 'B', it will output all course codes with a 'B', i.e. all courses codes with a grade between 70 and 74 (inclusive). You are required to use the helper function defined in the first part.
* `get_GPA`, a method which outputs the Grade Point Average for the semester, assuming all classes all weighted by the number of credits. You are required to use the helper function from the first task. Round it to one decimal place.
* `to_dict`, a method which returns a dict whose keys are the class codes and whose corresponding values are the letter grades. Once again, you must use the helper function from the first task.

**Note.** All inputs are assumed to be valid. Particularly, you may assume there won't be duplicate class codes.

In [ ]:
##############################################################
#                                                            #
#  Please write all of your code for this task in this cell  #
#                                                            #
##############################################################

You can test your code with the following snippet. If your code is correct you should see

![code example 2](https://i.ibb.co/xCPCWyy/code2.png)

In [ ]:
gr = GradeRecords("Fall 2019")
print("First batch")
print("Term: {}".format(gr.term))

gr.add_course("COMP 202", 83, 3)
gr.add_course("CLAS 203", 75, 3)
gr.add_course("LING 360", 81, 3)

print("Number of courses: {}".format(gr.num_courses))
print("Best courses: {}".format(gr.get_best_courses()))
print("GPA: {}".format(gr.get_GPA()))
print("Dictionary: {}".format(gr.to_dict()))

print() 

print("Second batch")
print("Term: {}".format(gr.term))

gr.add_course("COMP 551", 67, 4)
gr.add_course("HIST 318", 88, 3)

print("Number of courses: {}".format(gr.num_courses))
print("Best courses: {}".format(gr.get_best_courses()))
print("GPA: {}".format(gr.get_GPA()))
print("Dictionary: {}".format(gr.to_dict()))